<%= render partial: "sound_cloud/user", locals: {user: @playlist.user} %>
<div class="row player"> 
  <%= @playlist.to_html.html_safe %>
  <div class="col-xs-12">
    <%if @playlist.user.tracks.length > 0%>
      <h3>Tracks by: <%=@playlist.user.username%></h3>
      <% @playlist.user.tracks.each_with_index do |track, index| %>
        <%="<div class='row'>".html_safe if index.even? %>
        <div class="card col-xs-6">
          <%= render partial: "sound_cloud/track", locals: {track: track } %>
        </div>
        <%="</div>".html_safe if index.odd? || index == (@playlist.user.tracks.count - 1)  %>
      <%end%>
    <%else%>
      <h2 class="text-center"> No Tracks Available</h2>
    <%end%>
  </div>
</div>
